# Создание дашборда по пользовательским событиям <br>для агрегатора новостей

[Готовый дашборд](https://public.tableau.com/views/Yandex_Dzen_15976834942910/Dashboard_main?:language=en&:display_count=y&publish=yes&:origin=viz_share_link) по итогам проделанной ниже работы.

[Презентация]() по итогам работы

## Макет дашборда

Примерный макет создаваемого дашборда выглядит следующим образом

In [7]:
from IPython.display import Image

display(Image(url='https://pictures.s3.yandex.net/resources/Untitled_-_2020-07-06T161108.832_1594041107.png', 
              width = 800))

## Получение данных. Развертывание базы PostgreSQL

Создадим коннекцию к базе с помощью кода:

In [2]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-zen-project-db'}          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'],
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])

engine = create_engine(connection_string)

Выполним sql-запрос и сохраним полученные данные в `df`

In [5]:
query = ''' SELECT *
            FROM dash_visits
        '''

pd.io.sql.read_sql(query, con = engine)

df = pd.io.sql.read_sql(query, con = engine)
display(df.head())
display(df.info())

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
record_id       30745 non-null int64
item_topic      30745 non-null object
source_topic    30745 non-null object
age_segment     30745 non-null object
dt              30745 non-null datetime64[ns]
visits          30745 non-null int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

None